<!DOCTYPE html>
<html lang="en">
<head>	
	<title>DA-26</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<script>
		
		
	</script>
</head>

<body>

	<style>
		*{
			font-family: "Times New Roman", Times, serif;			
		}
		.legistrationName{
			margin-top: 50px;
			margin-bottom: 30px;
			font-weight: bold;
			text-align: center;
		}
		table, th, td {
		    border: 1px solid black;
		    border-collapse: collapse;
		}
		table {
			width: 70%;
			margin-left: 200px;
			margin-right: 200px;
		}
		th, td {
			font-size: 17px;
			padding: 5px 10px 5px 10px;
		}
		th{
			width: 25%;
		}

	</style>

	<div class = "legistration">		
		<h2 class="legistrationName">Văn bản 2017</h2>
		<table>
			<tr>
				<th>Số hiệu văn bản</th>
				<td>Lastname</td> 
			</tr>
			<tr>
				<th>Ngày ban hành</th>
				<td>Smith</td>
			</tr>
			<tr>
				<th>Ngày ban hành</th>
				<td>Smith</td>
			</tr>
			<tr>
				<th>Ngày hiệu lực</th>
				<td>Smith</td>
			</tr>
			<tr>
				<th>Ngày ký</th>
				<td>Smith</td>
			</tr>
			<tr>
				<th>Trích yếu</th>
				<td>Smith</td>
			</tr>
			<tr>
				<th>Cơ quan ban hành</th>
				<td>Smith</td>
			</tr>
			<tr>
				<th>Người ký</th>
				<td>Smith</td>
			</tr>
			<tr>
				<th>Loại văn bản</th>
				<td>Smith</td>
			</tr>
			<tr>
				<th>Tình trạng</th>
				<td>Smith</td>
			</tr>
			<tr>
				<th>Link download</th>
				<td><a href="#">Link</a></td>
			</tr>
		</table>
		</div>

	</body>

	</html>